.file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 25px;
}
.file-card {
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 200px;
  overflow: hidden;
}
.card-image {
  width: 40%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 0 0 20px;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 60%;
}
h3 {
  margin: 0;
  padding: 0;
}
.description {
  margin: 10px 0;
  flex-grow: 1;
}
.download-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.download-button:hover {
  background-color: darkgray;
}
