.file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 25px;
}
.file-card {
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 360px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.file-card:hover {
  cursor: pointer;
}
.card-image {
  width: 100%;
  height: 130px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
}
.file-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  flex-grow: 1;
}
.file-name {
  margin: 5px 0;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow-wrap: break-word;
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file-category,
.file-description {
  margin: 0;
  color: gray;
  font-size: 14px;
  color: inherit;
  text-decoration: none;
}
.button-container {
  position: absolute;
  bottom: 5px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 8px;
}
.button-border {
  width: 100%;
  border-top: 1px solid gray;
}
.download-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  width: 60%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  vertical-align: center;
  margin: 0;
}
.bookmark-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  vertical-align: center;
  margin: 0;
}
.download-button:hover {
  background-color: darkgray;
}
.justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
h3.file-name {
  font-size: 20px;
  color: inherit;
}
p.file-category {
  font-size: 12px;
}
.file-tags.pt-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 5px;
}
.file-tag {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 3px 8px;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: default;
  color: inherit;
  text-decoration: none;
}
.file-list a {
  color: inherit;
  text-decoration: none;
}
p.pt-3 {
  font-size: 20px;
}
.views-display {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 5px;
}

.views-display p {
  margin: 0;
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
  gap: 4px;
}
