body{
    overflow-x:hidden;
}
.HomeImageCt{
    background-image: url("/homeWallpaper.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    padding-top: 0;
}
.CatContainer {
    padding-top: 30px;
}
.CatIcons {
    display: flex;
    font-size: 18px;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; /* Center items horizontally */
    background-color: #00bcd4;
    border-radius: 100%; /* Make it circular */
    height: 200px; /* Set height */
    width: 200px; /* Set width */
}
.CatDiv{
    height:350px;
}
hr{
    height:10px;
    background-color: rgb(15, 118, 48);
}
p{
    font-size: 15px;
    font-weight: bold;
}
.IntroDiv{
    background-color: rgb(218, 240, 253);
}